configuration {
	modi: "drun,window";
	font: "Terminus (TTF) 14";
	display-drun: "Search:";
	show-icons: true;
	icon-theme: "Papirus";
}

* {
	line-margin: 2px;
	line-padding: 2px;
	margin: 0px;
	padding: 0px;
}

window {
	location: north;
	anchor: north;

	y-offset: 32px;
	width: 35%;

	orientation: horizontal;
}

listview {
	columns: 1;
	lines: 5;
}
